
/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}
.maphead .breadcrumb{
    background-color: #eeeeee!important;
}
.iconcontainer .icon {
    display: inline-block;
    vertical-align: middle;
}
.iconcontainer .icon img{
	padding-top:15px;
}
.iconcontainer .content {
    display: inline-block;
    vertical-align: middle;
}
.headingcontainer .headingitem{
    display: inline-block;
    vertical-align: middle;
}
.headingcontainer .stars{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10%;
}
.headingcontainer .stars img{
    display: inline-block;
    max-height: 50px;
    padding-top: 15px;
}
.reviewlink{
    text-align: right;
    padding-right:10px;
}
.maphead
{
	position:relative;
	z-index:100;
}
.jumbotron{
	margin-bottom:3px!important;
}
.bottomshadow{
	-webkit-box-shadow: 0px 3px 9px 0px rgba(38,38,38,1);
	-moz-box-shadow: 0px 3px 9px 0px rgba(38,38,38,1);
	box-shadow: 0px 3px 9px 0px rgba(38,38,38,1);
}
.orgdetail{
	padding-bottom:40px;
	padding-top:40px;
}
.orgdetail h2{
	font-size:35px;
    line-height: 65px!important;
}
.orgdetail h2 a{
	color:#333;
}
/*.orgdetail a{*/
	/*color:#55A435;*/
/*}*/
.orgdetail h1{
    position:relative;
    /*padding-left:45px;*/
    overflow: hidden;
    line-height: 65px;
}

.orgdetail h1 .pin{
    display:block;
    width:35px; height:65px;
    background:url(../images/pin.png) 0 0 no-repeat;
    float:left;
}
.orgdetail h2 .pin{
    display:block;
    width:35px; height:65px;
    background:url(../images/pin.png) 0 0 no-repeat;
    float:left;
}
.leftpadding{
	padding-left:40px;
}
.lightblue{
	background-color:#B0DDD6;
}
.featured{
    font-size:1.2em;
}
.featured h1 a{
    color:#333;
    font-size:40px;
}
.reviews{
    /*background-color: #EEEEEE;*/
    /*padding: 10px;*/
}
.rating .star{
    display: inline-block;
    width:30px; height:28px;
    background:url(../images/star.png) 0 0 no-repeat;
}
/*.bio .image{*/
    /*display:block;*/
    /*max-width: 200px;*/
/*}*/

.headingcontainer .readmore a{
    color:#eeeeee;
}
.social .socfacebook{
    display: inline-block;
    width:50px; height:50px;
    background:url(../images/fbicon.png) 0 0 no-repeat;
}
.social .soctwitter{
    display: inline-block;
    width:50px; height:50px;
    background:url(../images/twittericon.png) 0 0 no-repeat;
}
.social .socig{
    display: inline-block;
    width:50px; height:50px;
    background:url(../images/igicon.png) 0 0 no-repeat;
}
.social .socplus{
    display: inline-block;
    width:50px; height:50px;
    background:url(../images/plusicon.png) 0 0 no-repeat;
}
.orgdetail .reviewicon{
    display: inline-block;
    width:35px; height:35px;
    background:url(../images/reviewicon.png) 0 0 no-repeat;
}
#readreviews h1{
    line-height: 35px!important;
    vertical-align: top;
}
#add-review-form .form-control{
    width:75%;
}


@media screen and (max-width: 767px){ #map-canvas{ height:340px!important; } }